
$almost-white: #F3F3F3;
$almost-black: #444;
$border: #CCCCCC;
$left: 1rem;
$size: 1.2rem;

@keyframes radio-select {
  0% {
    transform: scale(0,0);
  }
  65% {
    transform: scale(1.1,1.1);
  }
  100% {
    transform: scale(1,1);
  }
}

/* styles */
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.control-panel {
  label.radio {
    margin: 0.5rem 0;
    display: inline-block;
    position: relative;
    padding-left: $left;
    cursor: pointer;
    float: left;
    //width: 100%;
    box-sizing: border-box;
  }

  input[type=radio] {
    height: 1px;
    width: 1px;
    opacity: 0;
  }

  .outside {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -($size / 2);
    width: $size;
    height: $size;
    border: 2px solid $border;
    border-radius: 50%;
    box-sizing: border-box;
    background: $almost-white;
  }

  .inside {
    @include centerer;
    display: inline-block;
    border-radius: 50%;
    width: ($size - 0.5rem);
    height: ($size - 0.5rem);
    background: $almost-black;
    left: 0.125rem;
    top: 0.125rem;
    transform: scale(0,0);
    .no-transforms & {
      left: auto;
      top: auto;
      width: 0;
      height: 0;
    }
  }

  input[type=radio] {
    &:checked {
      + .outside .inside {
        animation: radio-select 0.1s linear;
        transform: scale(1,1);
        .no-transforms & {
          width: ($size - 0.5rem);
          height: ($size - 0.5rem);
        }
      }
    }

    &:focus, &:active {
      + .outside {
        border-color: $almost-black;
      }
    }
  }

  //.trash-button {
  //  float: left;
  //  margin: 1rem;
  //  cursor: pointer;
  //
  //  &:hover {
  //    color: #2d2d2d;
  //  }
  //}
}
@media only screen
and (max-device-width: 812px) {
  input[type=range] {
    margin: 1rem 0;
  }

}
