body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  margin: 10px;
  padding: 10px;
  border: 3px dashed gray;
  background: rgba(128, 128, 128, 0.3);

  .ui-buttons {
    .ui-button {
      background: grey;
      margin: 10px;
      padding: 10px 20px;
      display: inline-block;
      cursor: pointer;
      user-select: none;
      border: 3px solid #666;

      &:hover {
        background: lightgray;
      }
    }
  }

  #color-palette {
    //border: 3px dashed gray;
    margin: 10px;

    label {
      user-select: none;
      cursor: pointer;
    }
  }

  .controls-section-title {
    margin-bottom: 10px;
    font-weight: bold;
  }
}

@media only screen
  and (max-device-width: 812px) {
  .controls {
    bottom: 0;
    font-size: 4rem;

    .ui-buttons {
      .ui-button {
        padding: 20px 40px;
      }
    }
  }
}

